node_modules
dist
.DS_Store
*.log
.env
.env.local
coverage
.vscode
.idea
*.tsbuildinfo
apps/server/src/upload/*
packages/docker/milvus/volumes/*node_modules
dist
.DS_Store
*.log
.env
.env.local
coverage
.vscode
.idea
*.tsbuildinfo
apps/server/src/upload/*
docs